.page-header
  %h1 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal', role: 'form'}) do |f|
  .form-group
    %label.col-sm-2.control-label{for: "#{resource_name}_email"} Email
    .col-sm-10
      = f.text_field :email, class: 'form-control', autofocus: true

  .form-group
    %label.col-sm-2.control-label{for: "#{resource_name}_password"} Password
    .col-sm-10
      = f.password_field :password, class: 'form-control', autocomplete: 'off'

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            = f.check_box :remember_me
            Remember me

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{type: 'submit'} Log in

= render "devise/shared/links"
