!!!
%html
  %head
    %title TaskManager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  .navbar.navbar-inverse{role: 'navigation'}
    .container
      .navbar-header
        %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse',  'data-target' => '.navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        =link_to 'Task Manager', root_path, class: 'navbar-brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{class: yield(:active) == 'task_projects' ? 'active' : ''}= link_to 'project', task_projects_path
          %li{class: yield(:active) == 'template_projects' ? 'active' : ''}= link_to 'template', template_projects_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.email, '#'
            %li= link_to 'sign out', destroy_user_session_path, method: :delete

  .container
    = yield
